/*
* @Author: Marte
* @Date:   2017-03-29 00:45:58
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-15 21:48:32
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
}

#Bg-img {
    width: 100%;
    height: 100%;

}

#circle {
    transition: transform 8s;
    transform: rotate(0deg);
    transition-timing-function: ease-in;
}

#circle-finish {
    position: absolute;
    top: 2.85%;
    left: 2.85%;
    opacity: 0;
    transition: all;
    transition-delay: 8s;
}
#start-box {
    transition: all 2.5s;
    opacity: 0;
    position: absolute;
    top: 20%;
    left: 75%;
}

#start-box form {
    position: absolute;
    top: 32.0%;
    left: 32.6%;
    border-radius: 60px;
    outline：none
}


#button {
    background-image: url(../img/开始.PNG);
    background-position: -0px 0px;
    background-size: contain;
    width: 84px;
    height: 84px;
    border-radius: 60px;
    z-index: 1;
    outline：none

}
input{
    outline:none;
}   /*让按钮点击后出现的蓝色框消除*/

#rightbox {
    position: absolute;
    left: 94%;
    top: 0;
    height: 100%;
    width: 6%;
    opacity: 0;
    display: none;
}

#rightbox form {
    background:#595959;
    opacity: .19;
    width: 100%;
    height: 100%;
}

#rightbox img {
    position: absolute;
    top: 45%;
    left: 4%;
    width: 80%;
    height: 9%;

}

#next-page-button {
    height: 100%;
    width: 100%;
}



/*点亮上海部分*/
#shanghai-text {
    position: absolute;
    top: -14%;
    left: 71%;
    width: 22%;
    height: 14%;
    transition: transform 2.2s;



}
/*导航栏部分*/
/*上拉那里闪烁*/
@-webkit-keyframes navflashing
{
　　 0% { opacity: .1; }
　　 20% { opacity: 1; }
    40% {opacity: .5; }
    60% { opacity: 1; }
    80% { opacity: .7; }
    100% { opacity: 1; }
}
.nav-button {
    position: absolute;
    top: 90%;
    left: 2%;
    width: 14%;;
    height: 8.84%;
    animation: navflashing 2.5s;
    animation-iteration-count: infinite;//无限循环播放
}
.nav {
    display: none;
}
.nav-BGimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.left-hand {
    position: absolute;
    top: 93%;
    left: 22%;
    width: 8%;
    height: 20%;
    animation: seeze 2s;

}

/*左手抓的动画*/
@-webkit-keyframes seeze
{
    0% { top: 100%;}
    50% { top: 87%; }
    100% { top: 93%; }
}

/*头和右手的动画*/
@-webkit-keyframes elicit
{
    0% { top: 100%;}
    50% { top: 73%; }
    100% { top: 74%; }

}

.head-right {
    position: absolute;
    top: 100%;
    left: 30%;
    width: 42.5%;
    height: 26%;
    animation: elicit 2s;
    animation-delay: 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.left-eye {
    position: absolute;
    top: 100%;
    left: 45%;
    width: 2.5%;
    display: block;
    height: 6.9%;
    animation: follow 2s;
    animation-delay: 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}
.right-eye {
    position: absolute;
    top: 100%;
    left: 50.5%;
    width: 2.5%;
    height: 6.9%;
    display: block;
    animation: follow 2s;
    animation-delay: 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

/*向前看眼睛的动画*/
@-webkit-keyframes follow
{
    0% { top: 100%;}
    50% { top: 86%; }
    100% { top: 87%; }

}

/*向上看的眼睛*/
.left-eye-top {
    position: absolute;
    top: 88.8%;
    left: 45.5%;
    width: 1.5%;
    height: 3.8%;
    opacity: .5;
    display: none;
     animation: left-top-move 1.5s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.right-eye-top {
    position: absolute;
    top: 88.8%;
    left: 51%;
    width: 1.5%;
    height: 3.8%;
    opacity: .5;
    display: none;
    animation: right-top-move 1.5s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}


@-webkit-keyframes left-top-move
{
    0% { top: 88.8%; left: 45.5%; opacity: 0;}

    100% { top: 78%; left: 44.5%; opacity: 1;}

}
@-webkit-keyframes right-top-move
{
    0% { top: 88.8%; left: 51%; opacity: 0;}

    100% { top: 78%;left: 51.5%; opacity: 1; }

}

.introduce-shanghai {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10%;
    height: 12%;

    animation: titlemove 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.introduce-text {
    position: absolute;
    top: 23%;
    left: 4%;
    width: 45%;
    height: 16%;
    animation: textemove 2s;
    opacity: 0;
    animation-delay: 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;

}


/*介绍文字移动*/
@-webkit-keyframes titlemove {

    0% { top: 25%; opacity: 0; }
    100% { top: 8%; opacity: 1; }

}
@-webkit-keyframes textemove {

    0% { top: 40%; opacity: 0; }
    100% { top: 23%; opacity: 1; }

}

/*点击其他地方返回本页*/
#return-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor:pointer
}

/*导航栏按钮 逸恬*/
 .icon {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 40%;
    left: 10%;
    display: none;
}

.navbox {
    /*display: inline-block;*/
    position: relative;
    color: white;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    width: 6%;
    height: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 2px solid white;
    text-align: center;
    display: none; /*隐藏导航框*/
}

.navbox1 {
    top: 32%;
    left: 10%;
}

.navbox2 {
    top: 12%;
    left: 19%;
}

.navbox3 {
    top: 1%;
    left: 32%;
}

.navbox4 {
    top: -3%;
    left: 45%;
}

.navbox5 {
    top: 1%;
    left: 58%;
}

.navbox6 {
    top: 12%;
    left: 71%;
}

.navbox7 {
    top: 32%;
    left: 80%;
}

.navbox span {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: absolute;
}

.navbox span.bot {
    border-width: 5px;
    border-style: solid dashed dashed;
    border-color: white transparent transparent;
    left: 20%;
    bottom: -15%;
}

.navbox span.top {
    border-width: 10px;
    border-style: solid dashed dashed;
    border-color: white transparent transparent;
    left: 35%;
    bottom: -55%;  /*绘制导航框倒三角*/
}

.circlebox1 {
    position: fixed;
    bottom: 8%;
    left: 17%;
}

.circlebox2 {
    position: fixed;
    bottom: 24%;
    left: 24%;
}

.circlebox3 {
    position: fixed;
    bottom: 33%;
    left: 34%;
}

.circlebox4 {
    position: fixed;
    bottom: 36%;
    left: 44%;
}

.circlebox5 {
    position: fixed;
    bottom: 33%;
    left: 54%;
}

.circlebox6 {
    position: fixed;
    bottom: 24%;
    left: 64%;
}

.circlebox7 {
    position: fixed;
    bottom: 8%;
    left: 71%;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: inline-block;
    text-align: center;
    opacity: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;/*绘制外圆*/
}

.smallcircle {
    position: absolute;
    top: 0;
    left: 8px;
    top: 8px;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    text-align: center;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;/*绘制内圆*/
}

/*.origin {
    position: fixed;
    bottom: -132%;
    left: 170px;
    width: 1200px;
    height: 1200px;
    border: 2px solid white;
    -moz-border-radius: 600px;
    -webkit-border-radius: 600px;
    border-radius: 600px;
}*/

.circle img {
    width: 67px;
    height: 60px;
    position: absolute;
}

.circle1 {
    bottom: 0
    left: 5%;
    animation: spin1 1s linear;
    animation-delay: 0s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle1 img {
    left: 2px;
    top: 5px;
    transform: rotate(-50deg);
}

.circle2 {
    top: 28%;
    left: 6%;
    animation: spin1 1s linear;
    animation-delay: 0.5s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle2 img {
    left: 8px;
    top: 12px;
    transform: rotate(-35deg);
}

.circle3 {
    top: 15%;
    left: 11%;
    animation: spin1 1s linear;
    animation-delay: 1s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle3 img {
    left: 25px;
    top: 8px;
    width: 34px;
    height: 65px;
    transform: rotate(-50deg);
}

.circle4 {
    top: 10%;
    left: 18%;
    animation: spin1 1s linear;
    animation-delay: 1.5s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle4 img {
    left: 6px;
    top: 18px;
    transform: rotate(0deg);
}

.circle5 {
    top: 15%;
    right: -24%;
    animation: spin1 1s linear;
    animation-delay: 2s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle5 img {
    left: 8px;
    top: 12px;
    transform: rotate(18deg);
}

.circle6 {
    top: 28%;
    right: -28%;
    animation: spin1 1s linear;
    animation-delay: 2.5s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle6 img {
    left: 12px;
    top: 10px;
    width: 52px;
    height: 60px;
    transform: rotate(35deg);
}

.circle7 {
    top: 50%;
    right: -30%;
    animation: spin1 1s linear;
    animation-delay: 3s;
    /*定格在最后*/
    animation-fill-mode: forwards;
}

.circle7 img {
    width: 60px;
    height: 65px;
    left: 10px;
    top: 9px;
    transform: rotate(-35deg);
}

@-webkit-keyframes spin1 {
    to {
        opacity: 1
    }
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

/*导航栏部分结束*/


/*闪烁*/
@-webkit-keyframes flashing
{

    0% { opacity: 1; }
　　20% { opacity: .4; }
    40% {opacity: .2; }
    60% { opacity: .8; }
    80% { opacity: .3; }
    100% { opacity: 1; }
}


/*亮灯*/
#light-one {
    position: absolute;
    top: 67.2%;
    left: 0%;
    width: 11%;
    height: 32.8%;
    opacity: 0;
}

#light-one:hover {
    animation: flashing 1s;
     /*定格在最后*/
    animation-fill-mode: forwards;

}

#light-two {
    position: absolute;
    top: 10.5%;
    left: 11%;
    width: 12%;
    height: 89.5%;
    opacity: 0;
}
#light-two:hover {
    animation: flashing 1.5s;
     /*定格在最后*/
    animation-fill-mode: forwards;

}
#light-three {
    position: absolute;
    top: 52.6%;
    left: 23%;
    width: 19%;
    height: 47.4%;
    opacity: 0;
}
#light-three:hover {
    animation: flashing 1.5s;
     /*定格在最后*/
    animation-fill-mode: forwards;

}
#light-four {
    position: absolute;
    top: 34%;
    left: 42%;
    width: 27.3%;
    height: 66%;
    opacity: 0;

}
#light-four:hover {
    animation: flashing 1.5s;
     /*定格在最后*/
    animation-fill-mode: forwards;

}
#light-five {
    position: absolute;
    top: 50%;
    left: 69.3%;
    width: 30.7%;
    height: 50%;
    opacity: 0;
}
#light-five:hover {
    animation: flashing 1.5s;
     /*定格在最后*/
    animation-fill-mode: forwards;

}